body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Theme colors */
:root {
  --bg-0: hsl(255, 80%, 59%);
  --bg2-0: hsl(255, 80%, 69%);
  --bg3-0: hsl(255, 80%, 79%);
  --text-0: hsl(180, 80%, 50%);
  --border-0: hsl(255, 80%, 50%);
  --no-0: red;
  --yes-0: rgb(221, 255, 0);
  --hover-0: hsl(280, 80%, 80%);
  --focus-0: hsl(280, 80%, 60%);

  --bg-1: white;
  --bg2-1: lightgrey;
  --bg3-1: silver;
  --text-1: black;
  --border-1: lightgray;
  --no-1: red;
  --yes-1: rgb(0, 187, 0);
  --hover-1: skyblue;
  --focus-1: blue;

  --bg-2: hsl(125, 33%, 46%);
  --bg2-2: hsl(125, 33%, 56%);
  --bg3-2: hsl(125, 33%, 66%);
  --text-2: hsl(341, 63%, 26%);
  --border-2: hsl(125, 80%, 46%);
  --no-2: hsl(283, 100%, 50%);
  --yes-2: hsl(68, 100%, 50%);
  --hover-2: hsl(300, 80%, 50%);
  --focus-2: hsl(320, 100%, 50%);
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* @keyframes potential-expand {
	0% {
    transform: scale(0.8) translateX(0);
  }
	25% {
    transform: scale(1.2) translateX(-5%);
  }
  75% {
    transform: scale(1.2) translateX(5%);
  }
	100% {
		transform: scale(0.8) translateX(0);
	}
} */

@keyframes rotate-hue {
  0% {
    filter: hue-rotate(0)
  }
  10% {
    filter: hue-rotate(180deg)
  }
}
/* @keyframes loader-theme-0 {
  0% {
    color: var(--text-0);
  }
  45% {
    color: var(--text-0);
  }
  50% {
    color: var(--yes-0);
  }
}
@keyframes loader-theme-1 {
  0% {
    color: var(--text-1);
  }
  45% {
    color: var(--text-1);
  }
  50% {
    color: var(--yes-1);
  }
}
@keyframes loader-theme-2 {
  0% {
    color: var(--text-2);
  }
  45% {
    color: var(--text-2);
  }
  50% {
    color: var(--yes-2);
  }
} */
